//  ------------------------------------
//   MediaScreen指定
//  ------------------------------------

$site: 1440px;
$pc: 1180px; //inner Size
$tab: 768px; // TABLET (基本ここ)
$sp: 480px; // SP
$dir: '../';
@mixin mqd($query) {
    @media screen and (max-width: $query) {
        @content;
    }
}

@mixin mqu($query) {
    @media screen and (min-width: $query + 1px) {
        @content;
    }
}

@mixin font-min{
    font-family: 'Zen Old Mincho', serif;
    font-weight: 400;
}

@mixin font-go{
    font-family: 'Zen Kaku Gothic New', serif;
    font-weight: 400;
}

@mixin gap($gap:0px, $item:1){
  width: calc((100% / #{$item}) - ((#{$gap} * (#{$item} - 1)) / #{$item}));
}